.base {
    color: red;
}

.skillRow {
    position: relative;
}

.skillShape {
    width: 8.4375rem;
    height: 8.4375rem;
    fill: transparent;
    color: teal;
}

.skillCircleAbove {
    stroke: #464d62;
    stroke-width: .625rem;
    opacity: .5;
}

.skillCircleUnder {
    stroke-width: .9375rem;
}

.skillTitle {
    text-align: center;
    position: absolute;
    top: 50%;
    Left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}