ul li {
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 30px;
}

.item {
    background-color: #f5f9fa;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100%;
}

.itemFirst {
    width: 34%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.itemImg {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;

}

.itemPic {
    width: 100%;
    height: 100%;
    display: block;
}

.itemSec {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.element {
    margin-right: 20px;
}

.element:last-child {
    margin-right: 0;
}

.color {
    color: teal;
}

.socialList {
    display: flex;
    margin: 0;
    padding: 0;
}

.socialItem {
    margin: 20px;
}